# 默认忽略的文件
/shelf/
/workspace.xml
.DS_Store
.idea/
__pycache__
.env
.venv/
pb/pb_data/
pb/CHANGELOG.md
pb/LICENSE.md
pb/pocketbase
pb/pocketbase.exe
core/work_dir/
core/tests/work_dir/
/work_dir
dashboard/dify_api_config.py
dashboard/work_dir/
dashboard/web/pnpm-lock.yaml

